@import "tailwindcss";

body{
    margin: 0;
    padding: 0;

    height:100wh;
    background:linear-gradient(267deg , #441077 0.36% , #034d6f 102.06%);
    color:white;
    
    font-family: 'outfit';
}